<a href="https://colab.research.google.com/github/mottaquikarim/PYTH2/blob/master/src/Notebooks/titanic_lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Titanic Pandas Lab

**Data Dictionary**
* Survived: Survived (True = 1 & False = 0)
* Pclass: Passenger’s class (Upper = 1, Middle = 2, Lower = 3)
* Name: Passenger’s name
* Sex: Passenger’s sex
* Age: Passenger’s age
* Siblings/Spouses Aboard: Number of siblings/spouses aboard
* Parents/Children Aboard: Number of parents/children aboard
* Fare: Fare amount, using British pounds as the currency

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

titanic = pd.read_csv("titanic.csv")

## Preprocessing

**1. Access a summary of the core metadata of the DataFrame (i.e. the number and name of columns, the rows, etc.)**

**2. Take a look at the first and last 3 rows of data.**

**3. Rename the "Pclass" column to "Class" and the "Sex" column to "Gender".**

**4. Drop the 'Siblings/Spouses Aboard' and the 'Parents/Children Aboard' columns.**

**5. Check for duplicate passenger records. Remove the duplicates if any.**

**6. Sort the passenger records by class, then gender, then age.**

## Basic Insights

**1. How many passengers were on the Titanic?**

**2. What was the average age of the passengers?**

**3. How many passengers were minors (i.e. 0 < Age < 18)?**

**4. Draw a histogram showing the distribution of passenger age with 25 bins.**

**5. How many people survived?**

**6. What was the overall mortality rate?**

**7. What was the average fare paid by passengers in each class?**

**8. Create a bar chart showing the number of people in each class. Use the labels "Upper", "Middle", and "Lower".**

**9. **

## CHALLENGES

**1. Create a stacked bar chart showing the class makeup of the "survivor" group and the "casualty" group.**